<div class="comic-holder">
    <a href="https://www.webtoons.com/en/challenge/grumpy-veggies/list?title_no=515064" target="_blank">
        <div class="comic">
            <img src="../assets/comic/grumpyveggies.png" alt="">
            <div class="comic-text">
                <h3>Read Grumpy Veggies</h3>
                <p>Grumpy Veggies is about Bob the Strawberry and his friends constantly cracking jokes at his expense. Swearing and vegetable puns included.</p>
            </div>
        </div>
    </a>
    
    <a href="https://www.webtoons.com/en/challenge/samis-dojo/list?title_no=242123" target="_blank">
        <div class="comic">
            <img src="../assets/comic/samisdojo.png" alt="">
            <div class="comic-text">
                <h3>Read Sami's Dojo</h3>
                <p>Sami's Dojo is about Sami and her students as they learn to defend each other in a world that's quickly being overrun by yokai.</p>
            </div>
        </div>
    </a>
</div>

<div class="gallery">
    <ngx-masonry-gallery [width]="800" [images]="images"></ngx-masonry-gallery>
</div>