<body>
  <div class="main-grid">
    <div class="nav">
      <div class="nav-sticky">
        <ul class="navlist">
          <li>
            <a routerLink="/illustration" routerLinkActive="active-link">Illustration</a>
          </li>
          <li>
            <a routerLink="/comic" routerLinkActive="active-link">Comic</a>
          </li>
          <li>
            <a routerLink="/character-design" routerLinkActive="active-link">Character Design</a>
          </li>
          <li>
            <a routerLink="/commission" routerLinkActive="active-link">Commission</a>
          </li>
          <li>
            <a href="https://amaryllis-art.redbubble.com/" target="_blank">Shop</a>
          </li>
          <li>
            <a routerLink="/schedule" routerLinkActive="active-link">Schedule</a>
          </li>
          <li>
            <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>

        <div class="donate-btn">
          <a href="https://www.patreon.com/bePatron?u=2457446" target='_blank'>
            <img width='143' src="../assets/patreon button.png" alt="">
          </a>
        </div>
        <div class="donate-btn">
          <a href='https://ko-fi.com/Y8Y129MYK' target='_blank'>
            <img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi5.png?v=2' border='0'
              alt='Buy Me a Coffee at ko-fi.com' />
          </a>
        </div>

        <br>

        <div class="socials">
          <a href="https://www.facebook.com/amaryllisart.artist" target='_blank'>
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com/amaryllisninja" target='_blank'>
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCTlbQToBZMK8WLGaa-UHuZg" target='_blank'>
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.instagram.com/amaryllisart.artist/" target='_blank'>
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.tumblr.com/blog/amaryllisart" target='_blank'>
            <i class="fab fa-tumblr"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="header">
      <img src="/assets/AmaryllisArtLogo.jpg" alt="AmaryllisArt" class="logo">
      <h1>
        {{title1}}
        <br>
        <br>
        {{title2}}
      </h1>

      <div class="socials-mobile">
        <a href="https://www.facebook.com/amaryllisart.artist" target='_blank'>
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com/amaryllisninja" target='_blank'>
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCTlbQToBZMK8WLGaa-UHuZg" target='_blank'>
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/amaryllisart.artist/" target='_blank'>
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.tumblr.com/blog/amaryllisart" target='_blank'>
          <i class="fab fa-tumblr"></i>
        </a>
        <a href="https://www.patreon.com/bePatron?u=2457446" target='_blank'>
          <i class="fab fa-patreon"></i>
        </a>
        <hr>
        <a href='https://ko-fi.com/Y8Y129MYK' target='_blank'>
          <img width='25px' src="../assets/ko-fi-icon-bg.png" alt="ko-fi logo" class="kofi">
        </a>
      </div>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <div class="foot">
      <hr>
      <br>
      &copy; Amaryllis Graybill, 2021
    </div>
  </div>
</body>