<div class="schedule">
    <div class="day">
        <h3>
            Sunday
        </h3> 
    </div>
    <div class="day">
        <h3>
            Monday
        </h3>
    </div>
    <div class="day">
        <h3>
            Tuesday
        </h3>
        <a href="https://www.webtoons.com/en/challenge/grumpy-veggies/list?title_no=515064">
            Grumpy Veggies Update
        </a>
    </div>
    <div class="day">
        <h3>
            Wednesday
        </h3>
        <a href="https://www.youtube.com/channel/UCTlbQToBZMK8WLGaa-UHuZg">
            Youtube Update
        </a>
    </div>
    <div class="day">
        <h3>
            Thursday
        </h3>
    </div>
    <div class="day">
        <h3>
            Friday
        </h3>
        <a href="https://www.webtoons.com/en/challenge/grumpy-veggies/list?title_no=515064">
            Grumpy Veggies Update
        </a>
    </div>
    <div class="day">
        <h3>
            Saturday
        </h3>
    </div>
</div>

<hr>

<div class="latest">
    <h2>Latest</h2>
    <div class="latest-container">
        <div class="youtube-vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL02Um6FJpxwP28IRSQ4aG4FzFUiRfpzXd" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="fb">
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Famaryllisart.artist&amp;width=600&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=435" scrolling="yes" style=" width:600px; height:430px;" frameborder="0"></iframe>
        </div>
    </div>
</div>