<div class="comm-status">
    <h2>Currently Accepting Commissions</h2>
</div>
<div class="commission-container">
    <div class="comm">
        <div class="imgs">
            <img src="../assets/character-design/frisk_is_shy.jpg" alt="">
            <img src="../assets/character-design/team_world_domination.jpg" alt="">
        </div>
        <h3>Sketch - $20USD</h3>
        <p>Black and white, cleaned up sketch of a single character.</p>
    </div>
    <div class="comm">
        <div class="imgs">
            <img src="../assets/character-design/katana girl.jpg" alt="">
            <img src="../assets/illustration/pumpkin witch bw.jpg" alt="">
        </div>
        <h3>Line Art - $25USD</h3>
        <p>Black and white lineart with single character illustration.</p>
    </div>
    <div class="comm">
        <div class="imgs">
            <img src="../assets/character-design/blue witch.jpg" alt="">
            <img src="../assets/character-design/vegeta.png" alt="">
        </div>
        <h3>Single Character - $30USD</h3>
        <p>Colored, full body character, no or minimal background</p>
    </div>
    <div class="comm">
        <div class="imgs">
            <img src="../assets/illustration/skeleton cat sticker (1).jpg" alt="">
            <img src="../assets/illustration/cash.png" alt="">
        </div>
        <h3>Multiple Character Illustration with Background - $60USD</h3>
        <p>Colored, full page illustration with 1 to 3 characters and background.</p>
    </div>
    <div class="payment">
        <h3>Payment Options</h3>
        <p>I accept payment through Paypal or Venmo. I ask that 50% be paid upfront after discussion of piece to be commissioned. If for some reason I cannot finish the commission, a refund will be issued.</p>
    </div>
</div>
